<html>
<head>
    <link rel="stylesheet" type="text/css" href="homestyle.css"/>
    <%= form_tag("/", :method => "post") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>

  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>YouTube Player API Samples</title>
    <script type="text/javascript" src="swfobject.js"></script>
    <script type="text/javascript" src = "ytplayer.js"></script>
</head>
<body style="font-family: Arial;border: 0 none;">
    <script type="text/javascript">
        initPlayer("<%=@songid%>")
    </script>
    <div id="name"><%=@title%></div>
    <div id="videoDiv">Loading...</div>
    <a href="javascript:void(0);" onclick="play();">Play</a>
    <a href="javascript:void(0);" onclick="pause();">Pause</a>
</body>
</html>